<div class="page auth">
    <nav>
        <div class="nav-group">
            <a href="#" class="js-menu nav-item">
                <span class="icon-list-unordered"></span>
            </a>
        </div>
    </nav>

    <div class="content-scrollable">
        <div class="wrapper-auth">
            <div class="at-form">
                <h1 class="title-auth">Join</h1>
                <p class="subtitle-auth">Signing in allows you to have private lists</p>
                <div class="at-pwd-form">
                    <form role="form" id="at-pwd-form">

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>